.toolbar-skard a.skard-poshytip {display: block; width: 24px; height: 24px; background: url(../img/dice_static.gif); background-repeat: no-repeat !important; opacity: 0.6}
.toolbar-skard a.skard-poshytip:hover {background: url(../img/dice_static.gif);}
.toolbar-skard a.skard-poshytip.skard-busy {background: url(../img/dice.gif)}